In [1]:
# imports 

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
data = pd.read_excel('../data/Cat_personality_data.xlsx')

In [3]:
data

,Personality1_Vigilant,Personality2_Stable,Personality3_Bold,Personality4_Clumsy,Personality5_Defiant,Personality6_Gentle,Personality7_Constrained,Personality8_Inquisitive,Personality9_Inventive,Personality10_Irritable,...,Personality45_Decisive,Personality46_Self_assured,Personality47_Anxious,Personality48_Trusting,Personality49_Active,Personality50_Cooperative,Personality51_Shy,Personality52_Eccentric,Country,Cat_sex
0,6,5,7,5,5,6,1,5,4,3,...,4,6,4,5,7,2,2,4,NewZealand,Male
1,7,3,4,1,7,7,3,4,3,2,...,4,3,6,6,1,6,2,5,NewZealand,Female
2,7,5,7,1,2,3,3,7,7,2,...,7,6,3,4,7,2,3,4,Australia,Male
3,7,4,1,1,7,2,7,1,3,7,...,5,3,3,2,2,2,6,2,Australia,Female
4,5,7,7,1,4,7,7,4,4,1,...,5,7,1,7,7,6,2,7,Australia,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2797,5,6,4,1,1,3,5,6,4,2,...,6,6,2,4,7,5,3,1,NewZealand,Male
2798,5,7,6,1,2,6,6,3,2,1,...,5,6,1,6,1,3,4,1,NewZealand,Female
2799,6,5,5,1,2,6,2,5,5,1,...,5,5,2,5,5,4,2,4,NewZealand,Female
2800,6,6,5,1,1,7,4,5,6,2,...,6,6,1,2,5,5,5,3,NewZealand,Female
2801,7,6,5,2,2,6,6,6,4,2,...,5,6,2,6,6,5,4,2,NewZealand,Male

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2802 entries, 0 to 2801
Data columns (total 54 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Personality1_Vigilant                2802 non-null   int64
 1   Personality2_Stable                  2802 non-null   int64
 2   Personality3_Bold                    2802 non-null   int64
 3   Personality4_Clumsy                  2802 non-null   int64
 4   Personality5_Defiant                 2802 non-null   int64
 5   Personality6_Gentle                  2802 non-null   int64
 6   Personality7_Constrained             2802 non-null   int64
 7   Personality8_Inquisitive             2802 non-null   int64
 8   Personality9_Inventive               2802 non-null   int64
 9   Personality10_Irritable              2802 non-null   int64
 10  Personality11_Distractable           2802 non-null   int64
 11  Personality12_Erratic                2802 non-null   int64
 12  Personality13_Solitary               2802 non-null   int64
 13  Personality14_Impulsive              2802 non-null   int64
 14  Personality15_Quitting               2802 non-null   int64
 15  Personality16_Independent            2802 non-null   int64
 16  Personality17_Smart                  2802 non-null   int64
 17  Personality18_Jealous                2802 non-null   int64
 18  Personality19_Fearful_other_cats     2802 non-null   int64
 19  Personality20_Persevering            2802 non-null   int64
 20  Personality21_Greedy                 2802 non-null   int64
 21  Personality22_Friendly_other_cats    2802 non-null   int64
 22  Personality23_Submissive             2802 non-null   int64
 23  Personality24_Dominant               2802 non-null   int64
 24  Personality25_Reckless               2802 non-null   int64
 25  Personality26_Predictable            2802 non-null   int64
 26  Personality27_Suspicious             2802 non-null   int64
 27  Personality28_Individualistic        2802 non-null   int64
 28  Personality29_Affectionate           2802 non-null   int64
 29  Personality30_Insecure               2802 non-null   int64
 30  Personality31_Bullying               2802 non-null   int64
 31  Personality32_Curious                2802 non-null   int64
 32  Personality33_Aimless                2802 non-null   int64
 33  Personality34_Deliberate             2802 non-null   int64
 34  Personality35_Tense                  2802 non-null   int64
 35  Personality36_Fearful_of_people      2802 non-null   int64
 36  Personality37_Cool                   2802 non-null   int64
 37  Personality38_Aggressive_to_people   2802 non-null   int64
 38  Personality39_Calm                   2802 non-null   int64
 39  Personality40_Aggressive_other_cats  2802 non-null   int64
 40  Personality41_Excitable              2802 non-null   int64
 41  Personality42_Friendly_to_people     2802 non-null   int64
 42  Personality43_Playful                2802 non-null   int64
 43  Personality44_Vocal                  2802 non-null   int64
 44  Personality45_Decisive               2802 non-null   int64
 45  Personality46_Self_assured           2802 non-null   int64
 46  Personality47_Anxious                2802 non-null   int64
 47  Personality48_Trusting               2802 non-null   int64
 48  Personality49_Active                 2802 non-null   int64
 49  Personality50_Cooperative            2802 non-null   int64
 50  Personality51_Shy                    2802 non-null   int64
 51  Personality52_Eccentric              2802 non-null   int64
 52  Country                              2802 non-null   object
 53  Cat_sex                              2779 non-null   object
dtypes: int64(52), object(2)
memory usage: 1.2+ MB

In [5]:
data.describe()

,Personality1_Vigilant,Personality2_Stable,Personality3_Bold,Personality4_Clumsy,Personality5_Defiant,Personality6_Gentle,Personality7_Constrained,Personality8_Inquisitive,Personality9_Inventive,Personality10_Irritable,...,Personality43_Playful,Personality44_Vocal,Personality45_Decisive,Personality46_Self_assured,Personality47_Anxious,Personality48_Trusting,Personality49_Active,Personality50_Cooperative,Personality51_Shy,Personality52_Eccentric
count,2802.000000,2802.000000,2802.000000,2802.000000,2802.000000,2802.000000,2802.000000,2802.000000,2802.000000,2802.000000,...,2802.000000,2802.000000,2802.000000,2802.000000,2802.000000,2802.000000,2802.000000,2802.000000,2802.000000,2802.000000
mean,5.491792,4.744111,4.387580,2.448965,3.738044,5.276588,4.012491,5.214847,4.801570,2.675232,...,5.185582,5.251963,5.158815,5.362598,3.086367,4.255532,5.160956,4.429693,3.431834,3.388294
std,1.420801,1.722183,1.806914,1.766360,1.995508,1.632262,1.628092,1.603355,1.794481,1.807049,...,1.527038,1.784150,1.325919,1.433470,1.743770,1.875169,1.705820,1.668390,1.829728,1.887551
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,5.000000,3.000000,3.000000,1.000000,2.000000,4.000000,3.000000,4.000000,3.250000,1.000000,...,5.000000,4.000000,4.000000,5.000000,2.000000,3.000000,4.000000,3.000000,2.000000,2.000000
50%,6.000000,5.000000,5.000000,2.000000,4.000000,6.000000,4.000000,5.000000,5.000000,2.000000,...,5.000000,6.000000,5.000000,6.000000,3.000000,4.000000,6.000000,5.000000,3.000000,4.000000
75%,7.000000,6.000000,6.000000,4.000000,5.000000,7.000000,5.000000,7.000000,6.000000,4.000000,...,6.000000,7.000000,6.000000,6.000000,4.000000,6.000000,7.000000,6.000000,5.000000,4.000000
max,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,...,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000

### Renaming personality trait columns for easier readibility

In [6]:
data.rename(columns=lambda col: col.split('_', 1)[1] if '_' in col else col, inplace=True)
data.rename(columns={'sex': 'Cat_sex'}, inplace=True)

### Removing null values

In [8]:
data[data['Cat_sex'].isnull() == True]

,Vigilant,Stable,Bold,Clumsy,Defiant,Gentle,Constrained,Inquisitive,Inventive,Irritable,...,Decisive,Self_assured,Anxious,Trusting,Active,Cooperative,Shy,Eccentric,Country,Cat_sex
45,6,6,6,2,6,5,6,5,6,3,...,5,5,3,5,3,4,4,2,Australia,NaN
86,5,5,4,1,5,4,5,6,6,6,...,4,6,2,4,7,2,2,4,NewZealand,NaN
476,4,3,5,7,2,7,4,5,3,1,...,5,5,3,6,3,6,3,5,Australia,NaN
500,4,6,6,1,4,3,4,3,4,4,...,5,5,3,2,4,3,2,4,Australia,NaN
670,5,7,5,5,3,6,5,7,6,1,...,5,6,2,6,2,6,2,6,Australia,NaN
789,6,5,2,3,3,6,4,6,6,3,...,6,5,3,2,2,5,5,3,Australia,NaN
961,7,7,4,1,4,7,6,7,7,1,...,5,7,1,6,7,7,4,1,Australia,NaN
969,5,4,7,1,6,6,5,7,7,5,...,7,7,1,5,7,5,6,3,Australia,NaN
1329,4,5,6,1,6,2,4,6,5,5,...,5,5,1,6,7,5,1,4,NewZealand,NaN
1345,5,7,6,1,6,5,5,5,5,1,...,6,7,2,7,7,7,2,2,NewZealand,NaN
1457,1,4,4,5,3,7,6,2,1,1,...,2,7,2,3,1,7,5,1,NewZealand,NaN
1488,7,3,3,5,6,5,3,5,3,6,...,6,5,4,4,5,4,4,5,NewZealand,NaN
1502,7,5,7,1,5,7,7,7,7,2,...,7,7,1,7,7,7,1,4,NewZealand,NaN
1520,6,3,2,3,3,6,6,2,2,4,...,4,2,6,5,3,3,5,2,Australia,NaN
1869,6,3,5,1,4,5,3,7,7,2,...,6,6,4,3,6,6,5,4,NewZealand,NaN
1876,7,7,7,1,7,4,5,5,4,1,...,7,7,1,7,7,4,1,4,Australia,NaN
2029,4,5,3,5,6,1,3,2,1,5,...,6,6,4,2,2,2,4,4,NewZealand,NaN
2072,5,5,5,3,3,6,5,5,5,3,...,3,5,3,3,3,5,3,3,NewZealand,NaN
2131,7,5,6,1,4,1,4,4,4,1,...,7,7,1,4,6,7,4,1,NewZealand,NaN
2267,6,5,4,4,1,7,5,5,3,2,...,4,6,2,6,4,6,4,4,Australia,NaN
2445,7,7,5,6,6,5,6,5,5,2,...,5,5,5,6,5,5,5,5,Australia,NaN
2479,4,3,3,1,2,4,5,3,3,5,...,5,7,6,1,6,2,6,5,Australia,NaN
2511,4,3,2,3,2,6,5,4,3,2,...,4,3,6,2,3,6,6,4,NewZealand,NaN

Only the `Cat_sex` column has null values, and there are only 23 instances so they will be removed.

In [9]:
data = data.dropna()

In [10]:
data

,Vigilant,Stable,Bold,Clumsy,Defiant,Gentle,Constrained,Inquisitive,Inventive,Irritable,...,Decisive,Self_assured,Anxious,Trusting,Active,Cooperative,Shy,Eccentric,Country,Cat_sex
0,6,5,7,5,5,6,1,5,4,3,...,4,6,4,5,7,2,2,4,NewZealand,Male
1,7,3,4,1,7,7,3,4,3,2,...,4,3,6,6,1,6,2,5,NewZealand,Female
2,7,5,7,1,2,3,3,7,7,2,...,7,6,3,4,7,2,3,4,Australia,Male
3,7,4,1,1,7,2,7,1,3,7,...,5,3,3,2,2,2,6,2,Australia,Female
4,5,7,7,1,4,7,7,4,4,1,...,5,7,1,7,7,6,2,7,Australia,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2797,5,6,4,1,1,3,5,6,4,2,...,6,6,2,4,7,5,3,1,NewZealand,Male
2798,5,7,6,1,2,6,6,3,2,1,...,5,6,1,6,1,3,4,1,NewZealand,Female
2799,6,5,5,1,2,6,2,5,5,1,...,5,5,2,5,5,4,2,4,NewZealand,Female
2800,6,6,5,1,1,7,4,5,6,2,...,6,6,1,2,5,5,5,3,NewZealand,Female
2801,7,6,5,2,2,6,6,6,4,2,...,5,6,2,6,6,5,4,2,NewZealand,Male

### Checking values for each column
#### Expected values:
 - The 52 personality traits should be integers ranging from 1-7
 - Country should be New Zealand or Australia 
 - Cat_sex should be male or female

In [11]:
for column in data.columns:
    print(data[column].unique())

[6 7 5 4 1 2 3]
[5 3 4 7 2 1 6]
[7 4 1 5 6 3 2]
[5 1 6 4 2 3 7]
[5 7 2 4 6 1 3]
[6 7 3 2 5 4 1]
[1 3 7 6 2 5 4]
[5 4 7 1 3 6 2]
[4 3 7 1 5 6 2]
[3 2 7 1 4 5 6]
[3 5 2 1 6 4 7]
[1 2 4 6 5 3 7]
[2 4 7 6 5 1 3]
[5 3 1 2 4 6 7]
[4 2 5 3 6 1 7]
[5 3 7 4 1 6 2]
[5 3 7 6 2 4 1]
[5 2 7 1 3 4 6]
[6 1 3 2 5 7 4]
[5 3 7 4 6 1 2]
[5 7 2 4 3 1 6]
[5 2 4 3 1 7 6]
[6 1 3 2 4 5 7]
[5 6 7 4 2 1 3]
[5 6 2 3 1 7 4]
[3 6 2 7 4 5 1]
[6 1 3 7 2 5 4]
[4 2 5 1 7 6 3]
[5 7 2 3 6 1 4]
[2 6 4 5 1 3 7]
[4 6 2 1 5 3 7]
[5 4 7 2 3 1 6]
[2 4 6 3 5 7 1]
[5 7 6 2 1 3 4]
[4 6 2 1 5 7 3]
[3 1 6 4 2 7 5]
[3 2 5 7 6 4 1]
[1 2 4 5 6 7 3]
[5 2 3 7 6 4 1]
[5 7 3 2 4 1 6]
[5 4 2 6 1 3 7]
[5 7 3 1 2 6 4]
[4 7 2 5 3 1 6]
[7 2 6 5 1 3 4]
[4 7 5 3 1 6 2]
[6 3 7 5 2 1 4]
[4 6 3 1 2 7 5]
[5 6 4 2 7 1 3]
[7 1 2 3 6 5 4]
[2 6 4 5 3 7 1]
[2 3 6 4 5 7 1]
[4 5 2 7 1 3 6]
['NewZealand' 'Australia']
['Male' 'Female' 'Unsure']

In [12]:
# Inspecting the datapoints where the cat sex is 'unsure'

data[data['Cat_sex'] == 'Unsure']

,Vigilant,Stable,Bold,Clumsy,Defiant,Gentle,Constrained,Inquisitive,Inventive,Irritable,...,Decisive,Self_assured,Anxious,Trusting,Active,Cooperative,Shy,Eccentric,Country,Cat_sex
35,2,3,1,4,2,6,6,3,3,6,...,3,3,5,5,2,5,5,4,Australia,Unsure
373,7,6,6,1,7,7,4,5,6,4,...,7,7,3,3,5,5,5,4,Australia,Unsure
581,7,6,6,4,6,5,5,6,5,4,...,4,6,2,6,3,2,1,6,NewZealand,Unsure
595,2,3,1,2,4,3,3,2,4,2,...,5,5,2,2,2,3,3,1,Australia,Unsure
772,3,6,6,1,5,6,2,7,7,1,...,6,6,2,7,7,5,1,1,Australia,Unsure
1364,6,3,2,2,5,5,4,4,1,1,...,6,4,6,3,5,3,5,1,NewZealand,Unsure
1665,7,7,6,1,4,6,6,3,3,1,...,7,7,1,7,7,7,1,1,Australia,Unsure
1837,7,4,6,1,7,4,6,7,6,5,...,6,4,4,7,4,6,4,4,Australia,Unsure
1847,7,2,1,4,1,4,6,3,2,2,...,5,2,6,1,5,1,7,3,Australia,Unsure
1973,6,3,2,1,2,6,3,7,5,2,...,5,6,3,1,5,5,5,6,NewZealand,Unsure
2273,6,4,4,3,7,5,4,5,6,7,...,5,5,6,2,4,3,5,4,Australia,Unsure
2344,7,7,7,2,4,7,2,6,5,3,...,5,6,3,6,6,4,2,2,Australia,Unsure
2485,7,7,7,1,2,4,4,3,1,1,...,3,3,3,1,1,4,4,2,Australia,Unsure
2785,7,6,7,2,5,7,1,7,7,1,...,6,7,1,7,7,5,1,7,Australia,Unsure
2796,7,7,5,1,6,7,4,7,7,1,...,1,1,2,6,1,7,3,1,NewZealand,Unsure

There are only 15 instances of the cat's sex being unsure, so those datapoints will be removed as well.

In [13]:
data = data[data['Cat_sex'] != 'Unsure']

In [14]:
# Validating cleaned dataset

data

,Vigilant,Stable,Bold,Clumsy,Defiant,Gentle,Constrained,Inquisitive,Inventive,Irritable,...,Decisive,Self_assured,Anxious,Trusting,Active,Cooperative,Shy,Eccentric,Country,Cat_sex
0,6,5,7,5,5,6,1,5,4,3,...,4,6,4,5,7,2,2,4,NewZealand,Male
1,7,3,4,1,7,7,3,4,3,2,...,4,3,6,6,1,6,2,5,NewZealand,Female
2,7,5,7,1,2,3,3,7,7,2,...,7,6,3,4,7,2,3,4,Australia,Male
3,7,4,1,1,7,2,7,1,3,7,...,5,3,3,2,2,2,6,2,Australia,Female
4,5,7,7,1,4,7,7,4,4,1,...,5,7,1,7,7,6,2,7,Australia,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2797,5,6,4,1,1,3,5,6,4,2,...,6,6,2,4,7,5,3,1,NewZealand,Male
2798,5,7,6,1,2,6,6,3,2,1,...,5,6,1,6,1,3,4,1,NewZealand,Female
2799,6,5,5,1,2,6,2,5,5,1,...,5,5,2,5,5,4,2,4,NewZealand,Female
2800,6,6,5,1,1,7,4,5,6,2,...,6,6,1,2,5,5,5,3,NewZealand,Female
2801,7,6,5,2,2,6,6,6,4,2,...,5,6,2,6,6,5,4,2,NewZealand,Male

The final cleaned dataset has 2764 rows and 54 columns, 38 rows were removed during preprocessing. The personality trait columns were also renamed to remove the `Personality#_` prefix for easier readibility

In [15]:
# Saving cleaned dataset to directory

current_dir = os.getcwd()
main_dir = os.path.abspath(os.path.join(current_dir, '..'))
data_dir = os.path.abspath(os.path.join(main_dir, 'data'))
data.to_csv(os.path.join(data_dir, 'data_preprocessed.csv'), index=False)